body {
  font-family: 'Fredoka', sans-serif;
  scroll-behavior: smooth;
}

.hero {
  height: 100vh;
  background:no-repeat center/cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/hero_bg.jpg');
  position: relative;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.4);
}

.hover-zoom {
  transition: transform 0.3s ease;
}

.hover-zoom:hover {
  transform: scale(1.05);
}

.btn {
  transition: transform 0.2s ease-in-out;
}

.btn:hover {
  transform: scale(1.08);
}

h2, h5 {
  color: rgb(13 110 253)  ;
}

a:hover{
  color: rgb(13 110 253);
  transform: scale(1.05);
}

section {
  animation: fadeUp 1s ease;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  } to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Floating animation */
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-12px); }
  100% { transform: translateY(0px); }
}

.floating {
  animation: float 3s ease-in-out infinite;
}

.floating-slow {
  animation: float 4.5s ease-in-out infinite;
}
